<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>WebDevTool</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.min.css') }}">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" href="{{ url_for('static', path='/css/ie10-viewport-bug-workaround.css') }}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', path='/css/navbar-fixed-top.css') }}">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{{ url_for('static', path='/js/ie-emulation-modes-warning.js') }}"></script>
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">WebDevTool</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav nav-tabs navbar-nav" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">主页</a></li>
            <li role="presentation"><a href="#ssh" aria-controls="ssh" role="tab" data-toggle="tab">ssh</a></li>
            <li class="dropdown disabled" role="presentation">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">数据库<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#mysql" aria-controls="mysql" role="tab" data-toggle="tab">mysql</a></li>
                <li class="disabled"><a href="#pgsql" aria-controls="pgsql" role="tab" data-toggle="tab">pgsql</a></li>
              </ul>
            </li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/zhanglaiya/webdevtool" target="_blank">源码</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <p>
          Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
        </p>
      </div>
      <div role="tabpanel" class="tab-pane" id="ssh">
        <div class="col-md-2">
          <ul class="list-group">
            <li class="list-group-item">新建连接</li>
          </ul>
        </div>
        <div class="col-md-10">
          
          <form class="form-horizontal" role="form">
            <div class="form-group hide">
              <label class="col-sm-2 control-label">id</label>
              <div class="col-sm-10">
                <input class="form-control" id="id" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">连接名</label>
              <div class="col-sm-10">
                <input class="form-control" id="name" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">主机</label>
              <div class="col-sm-10">
                <input class="form-control" id="host" type="text">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">端口</label>
              <div class="col-sm-10">
                <input class="form-control" id="port" type="text" value="22">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">用户</label>
              <div class="col-sm-10">
                <input class="form-control" id="user" type="text">
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-sm-2 control-label">密码</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button id="save" type="button" class="btn btn-primary" data-loading-text="保存中...">保存</button>
                <button id="delete" type="button" class="btn btn-danger hide" data-loading-text="正在删除...">删除</button>
                <button id="connect" type="button" class="btn btn-warning" data-loading-text="连接中...">连接</button>
              </div>
            </div>
          </form>
          
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="mysql">暂无</div>
      <div role="tabpanel" class="tab-pane" id="messages">...</div>
      <div role="tabpanel" class="tab-pane" id="settings">...</div>
      <!-- Main component for a primary marketing message or call to action -->
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', path='/js/jquery.min.js') }}"></script>
    <!-- <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script> -->
    <script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', path='/js/ie10-viewport-bug-workaround.js') }}"></script>
    <script>
      $(function() {
        
        var sshCRUDUrl = "/ssh"
        var connectUrl = "/ssh/connect"
        
        function checkInput(data) {
          var $name = $("#name");
          var $host = $("#host");
          var $port = $("#port");
          var $user = $("#user");
          var $password = $("#password");
          var checkStatus = 0;
          $.each([$name, $host, $port, $user, $password],function(i,ele){
            var key = ele.attr('id');
            var value = ele.val();
            if (!value){
              console.log(key + ' invalid');
              ele.parent().parent().addClass('has-error')
              checkStatus = 1
            } else {
              data[key] = value
            }
          });
          
          return checkStatus;
        }
        
        function loadSSHList() {
          $.ajax({
            url: sshCRUDUrl,
            type: "GET",
            success: function(res) {
              if (res.code === 0){
                $('#ssh ul').html('<li class="list-group-item active">新建连接</li>');
                $.each(res.data, function(i, item) {
                  $('#ssh ul').append('<li class="list-group-item" data-id="' + item.id + '">'+ item.name +'</li>')
                })
              }
            }
          });
        }

        function parseParam (param, key) {
          var paramStr = "";
          if (param instanceof String || param instanceof Number || param instanceof Boolean) {
              paramStr += "&" + key + "=" + encodeURIComponent(param);
          } else { 
              $.each(param, function(i) {
                  var k = key == null ? i : key + (param instanceof Array ? "[" + i + "]" : "." + i);
                  paramStr += '&' + parseParam(this, k);
              });
          }
          return paramStr.substr(1);
        };

        $('#navbar ul[role="tablist"] a').click(function (e) {
          e.preventDefault()
          $(this).tab('show')
          // if (!e.target.parentElement.parentElement.getAttribute('class').includes('navbar-right')){
          // }
        })
        
        $('#navbar ul[role="tablist"] a').on('shown.bs.tab', function (e) {
          var ariaControls = e.target.getAttribute('aria-controls')
          if (ariaControls === 'ssh'){
            loadSSHList();
          }
        })

        $("#save").click(function(){
          var inputData = new Object();
          checkStatus = checkInput(inputData);
          if (checkStatus===1){
            return
          }
          var $id = $("#id").val();
          var $btn = $(this).button('loading');

          var requestType = "POST"
          if ($id){
            requestType = "PUT";
            inputData['id'] = $id
          }
          $.ajax({
            url: sshCRUDUrl,
            type: requestType,
            data: JSON.stringify(inputData),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function(res) {
              if (res.code == 0) 
              {
                $btn.button('reset');
                $('#ssh div[class~=form-group]').removeClass('has-error')
                loadSSHList();
                if (requestType === 'POST'){
                  $("#id").val(null);
                  $("#name").val('');
                  $("#host").val('');
                  $("#port").val('22');
                  $("#user").val('');
                  $("#password").val('');
                }
              }
            }
          });
        });
        
        $("#delete").click(function(){
          var $id = $("#id").val();
          if ($id){
            var $btn = $(this).button('loading');
            $.ajax({
              url: sshCRUDUrl,
              type: 'DELETE',
              data: JSON.stringify({'id': $id}),
              dataType: "json",
              contentType: "application/json; charset=utf-8",
              success: function(res) {
                if (res.code == 0) 
                {
                  $btn.button('reset');
                  $('#ssh div[class~=form-group]').removeClass('has-error')
                  loadSSHList();
                  $("#delete").addClass('hide');
                }
              }
            });
          }
          
        });

        $("#connect").click(function(){
          var inputData = new Object();
          checkStatus = checkInput(inputData);
          if (checkStatus===1){
            return
          }
          $('#ssh div[class~=form-group]').removeClass('has-error')
          window.open(window.location.href + "ssh/connect?" + parseParam(inputData));
        });

        $("#ssh ul").on('click', 'li', function(){
          $("#ssh li").removeClass('active');
          this.setAttribute('class', this.getAttribute('class') + ' active');

          ssh_id = this.getAttribute('data-id')
          if (ssh_id){
            $("#id").val(ssh_id);
            $("#delete").removeClass('hide')
            $.ajax({
              url: sshCRUDUrl + '?ssh_id=' + ssh_id,
              type: "GET",
              success: function(res) {
                if (res.code == 0) 
                {
                  $("#name").val(res.data.name);
                  $("#host").val(res.data.host);
                  $("#port").val(res.data.port);
                  $("#user").val(res.data.user);
                  $("#password").val(res.data.password);
                }
              }
            });
          } 
          else
          {
            $("#id").val(null);
            $("#name").val('');
            $("#host").val('');
            $("#port").val('22');
            $("#user").val('');
            $("#password").val('');
            $("#delete").addClass('hide');
          }
        });
      });

    </script>
  </body>
</html>
