
<div style="padding-top: 80px;">
    <div class="col-md-offset-3">
        <div class="input-group col-md-6">
            <input type="text" class="form-control" placeholder="Search for..." id="searchText">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" id="search">Go!</button>
              <button class="btn btn-default" data-toggle="modal" data-toggle="tooltip" data-placement="top" title="新建连接"
                data-target="#new">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            </span>
        </div><!-- /input-group -->
    </div>
    <div id="ssh-list" style="padding-top: 40px;">
        
    </div>
</div>