<div class="col-md-offset-2">
    <p class="text-warning">ssh://root@127.0.0.1:2222</p>
</div>

<div>
    <div class="col-md-2">
        <div>
            <button class="btn btn-xs">
                <span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;全部连接
            </button>
            <button class="btn btn-xs" data-toggle="modal" data-toggle="tooltip" data-placement="top" title="新建连接"
                data-target="#new">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button class="btn btn-xs" data-toggle="tooltip" data-placement="top" title="刷新列表">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </div>
        <hr style="margin: 0 0 2px 0;">
        <div>
            <ul style="list-style: none outside url('./static/img/link.png')" id="ssh-list">
                
            </ul>
        </div>

    </div>
    <div class="col-md-8" style="padding: 0;">
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                
                <li role="presentation">
                    <button class="btn btn-xs btn-default" data-toggle="modal" data-toggle="tooltip" data-placement="top" title="新建连接"
                        data-target="#new">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
            </ul>
            <!-- <hr style="margin: 0 0 2px 0;"> -->
            <!-- Tab panes -->
            <div id="tab-content" class="tab-content">
                
            </div>
        </div>

    </div>
    <div class="col-md-2">
        <table class="table table-striped table-bordered">
            <tr>
                <td class="col-md-5">连接名</td>
                <td>1</td>
            </tr>
            <tr>
                <td>主机</td>
                <td>127.0.0.1</td>
            </tr>
            <tr>
                <td>端口</td>
                <td>22</td>
            </tr>
            <tr>
                <td>用户</td>
                <td>root</td>
            </tr>
            <tr>
                <td>密码</td>
                <td>******</td>
            </tr>
            <tr>
                <td>创建时间</td>
                <td>******</td>
            </tr>
            <tr>
                <td>更新时间</td>
                <td>******</td>
            </tr>
        </table>
    </div>
</div>